* {
  margin: 0px;
  padding: 0px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

#content {
  display: flex;
  background-color: #c83d55; /* pink */
}
canvas {
  background: #662433; /* maroon */
  position: relative;
}

.title {
  color: #aab1bd;
  margin: 10%;
}
h2 {
  text-align: center;
  padding: 2px;
}

#result-container {
  margin: 2%;
  background: plum;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.searchBar {
  margin: 10%;
}
